.emoji-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji-heading {
  font-size: 20px; /* Customize the size of the heading */
  /* Default color for the heading */
  margin-bottom: 10px;
  text-align: center;
}

.emoji-row {
  display: flex;
  flex-direction: row; /* Emojis on the same row */
  justify-content: center; /* Center them horizontally */
}

.emoji-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px; /* Space between emojis */
  cursor: pointer;
}

.emoji {
  transition: opacity 0.2s ease;
}

.emoji-label {
  margin-top: 5px;
  text-align: center;
  transition: opacity 0.2s ease;
}

.active {
  opacity: 1;
}
